workflow/atencion al cliente.json
{
  "name": "tesis definitivo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "options": {}
      },
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "position": [
        1168,
        816
      ],
      "id": "cdc21216-eae4-4336-911d-2714504ddd04",
      "typeVersion": 2.1,
      "webhookId": "249eb75e-4134-4dcf-9cfc-c3ac1a2cb166"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        1168,
        1008
      ],
      "id": "f1e176e7-892c-4a0b-a253-5b1c9a6589f9",
      "typeVersion": 1.2,
      "webhookId": "a6b1c71e-c0a2-4473-8914-159b8a22c2c5"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        1168,
        1216
      ],
      "id": "9662d781-dada-4412-a8a4-4ddf8d06df73",
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "functionCode": "const body = $json.body || $json;\nconst entry = body.entry?.[0]?.changes?.[0]?.value;\nconst msg = entry?.messages?.[0];\nif (!msg) throw new Error('No se encontró mensaje de WhatsApp');\nreturn [{\n  user: msg.from,\n  message: msg.text?.body || '',\n  canal: 'whatsapp',\n  nombre: entry?.contacts?.[0]?.profile?.name || 'Cliente'\n}];"
      },
      "name": "Normalizar WhatsApp",
      "type": "n8n-nodes-base.function",
      "position": [
        1376,
        816
      ],
      "id": "ce132134-43d2-4862-9268-259f439d0b31",
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "const msg = $json.message;\nif (!msg) throw new Error('No se encontró mensaje de Telegram');\nreturn [{\n  user: String(msg.chat.id),\n  message: msg.text || '',\n  canal: 'telegram',\n  nombre: msg.from?.first_name || 'Cliente'\n}];"
      },
      "name": "Normalizar Telegram",
      "type": "n8n-nodes-base.function",
      "position": [
        1376,
        1008
      ],
      "id": "3abdf4aa-d518-41ce-bd58-24499bfbccd5",
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "return [{\n  user: $json.from,\n  message: $json.text || $json.snippet || '',\n  canal: 'email',\n  nombre: $json.from?.split('<')[0]?.trim() || 'Cliente',\n  subject: $json.subject || 'Sin asunto',\n  threadId: $json.threadId || ''\n}];"
      },
      "name": "Normalizar Gmail",
      "type": "n8n-nodes-base.function",
      "position": [
        1376,
        1216
      ],
      "id": "1bf99f9a-60af-452b-92e5-122ba1a33666",
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "passThrough"
      },
      "name": "Merge A (WA+TG)",
      "type": "n8n-nodes-base.merge",
      "position": [
        1584,
        912
      ],
      "id": "0f7362cf-f7ee-4a28-9eed-cb0eac15240f",
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "mode": "passThrough"
      },
      "name": "Merge B (+Gmail)",
      "type": "n8n-nodes-base.merge",
      "position": [
        1792,
        1024
      ],
      "id": "60e22b9c-08b6-4064-8687-442916925830",
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un clasificador de mensajes de atención al cliente. Tu ÚNICA función es analizar el mensaje y devolver un JSON con exactamente estos campos:\\n{\\n  \\\"intent\\\": \\\"FAQ\\\" | \\\"ESTADO_PEDIDO\\\" | \\\"RECLAMO\\\" | \\\"GENERAL\\\",\\n  \\\"order_id\\\": string | null,\\n  \\\"urgente\\\": boolean\\n}\\n\\nReglas:\\n- FAQ: preguntas sobre productos, precios, horarios, políticas.\\n- ESTADO_PEDIDO: consultas sobre estado de pedido o envío. Extrae el número de pedido en order_id si lo menciona.\\n- RECLAMO: quejas, problemas, solicitudes de reembolso, experiencias negativas.\\n- GENERAL: todo lo que no encaja en las categorías anteriores.\\n- urgente: true solo si contiene palabras como urgente, ya, inmediato, emergencia, o el tono es muy crítico.\\n\\nDevuelve SOLO el JSON. Sin texto adicional, sin markdown.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.message }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "name": "IA - Clasificador",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2016,
        1008
      ],
      "id": "395f36ac-6342-402c-9505-ee08ff77348d",
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "functionCode": "let raw = $json.choices?.[0]?.message?.content || '';\nraw = raw.replace(/```json|```/g, '').trim();\nlet clasificacion;\ntry {\n  clasificacion = JSON.parse(raw);\n} catch(e) {\n  clasificacion = { intent: 'GENERAL', order_id: null, urgente: false };\n}\nconst origen = $('Merge B (+Gmail)').first().json;\nreturn [{\n  intent: clasificacion.intent || 'GENERAL',\n  order_id: clasificacion.order_id || null,\n  urgente: clasificacion.urgente || false,\n  canal: origen.canal,\n  user: origen.user,\n  message: origen.message,\n  nombre: origen.nombre || 'Cliente',\n  subject: origen.subject || '',\n  threadId: origen.threadId || ''\n}];"
      },
      "name": "Parse Clasificacion",
      "type": "n8n-nodes-base.function",
      "position": [
        2224,
        1008
      ],
      "id": "fddce67b-a52a-4dad-97f1-44751c056153",
      "typeVersion": 1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "FAQ",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-faq"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FAQ"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "ESTADO_PEDIDO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-pedido"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ESTADO_PEDIDO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "RECLAMO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-reclamo"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RECLAMO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "GENERAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "rule-general"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GENERAL"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "name": "Switch Intent",
      "type": "n8n-nodes-base.switch",
      "position": [
        2432,
        1008
      ],
      "id": "ae8ae790-1c8c-44e1-aae5-b91bfa209c89",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pregunta, respuesta FROM faq WHERE MATCH(pregunta) AGAINST ('{{ $json.message }}' IN BOOLEAN MODE) LIMIT 3;",
        "options": {}
      },
      "name": "DB - Buscar FAQ",
      "type": "n8n-nodes-base.mySql",
      "position": [
        2672,
        464
      ],
      "id": "330e302d-ae85-4ada-a36f-68ae1789ce4f",
      "typeVersion": 2.5
    },
    {
      "parameters": {
        "functionCode": "const rows = $input.all();\nconst faqs = rows.map(r => r.json).filter(r => r.pregunta);\nconst ctx = faqs.length > 0\n  ? faqs.map(f => `P: ${f.pregunta}\\nR: ${f.respuesta}`).join('\\n\\n')\n  : 'No se encontraron FAQs relevantes. Responde de forma general y ofrece contacto humano.';\nconst prev = $('Switch Intent').first().json;\nreturn [{ ...prev, contexto_db: ctx, rama: 'FAQ' }];"
      },
      "name": "Preparar Contexto FAQ",
      "type": "n8n-nodes-base.function",
      "position": [
        2944,
        480
      ],
      "id": "b0fe82fd-02ab-4a77-91d7-c4fdacba4291",
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT o.id, o.estado, o.fecha_creacion, o.fecha_estimada_entrega, o.tracking_code, p.nombre as producto FROM orders o LEFT JOIN order_items oi ON o.id = oi.order_id LEFT JOIN products p ON oi.product_id = p.id WHERE o.id = '{{ $json.order_id }}' OR o.customer_phone = '{{ $json.user }}' ORDER BY o.fecha_creacion DESC LIMIT 1;",
        "options": {}
      },
      "name": "DB - Buscar Pedido",
      "type": "n8n-nodes-base.mySql",
      "position": [
        2720,
        720
      ],
      "id": "6bb3c598-98e5-4e18-91b6-873521b89b06",
      "typeVersion": 2.5
    },
    {
      "parameters": {
        "functionCode": "const rows = $input.all();\nconst pedido = rows[0]?.json;\nlet ctx;\nif (pedido && pedido.id) {\n  ctx = `Pedido #${pedido.id}\\nEstado: ${pedido.estado}\\nProducto: ${pedido.producto || 'N/D'}\\nFecha creación: ${pedido.fecha_creacion}\\nEntrega estimada: ${pedido.fecha_estimada_entrega || 'No disponible'}\\nTracking: ${pedido.tracking_code || 'Sin tracking aún'}`;\n} else {\n  ctx = 'No se encontró ningún pedido asociado a este cliente o número de pedido.';\n}\nconst prev = $('Switch Intent').first().json;\nreturn [{ ...prev, contexto_db: ctx, rama: 'ESTADO_PEDIDO' }];"
      },
      "name": "Preparar Contexto Pedido",
      "type": "n8n-nodes-base.function",
      "position": [
        2976,
        720
      ],
      "id": "404fca21-92c6-46fc-8e90-9bc21256cbe9",
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO reclamos (user_id, canal, mensaje, fecha_creacion, estado) VALUES ('{{ $json.user }}', '{{ $json.canal }}', '{{ $json.message }}', NOW(), 'abierto');",
        "options": {}
      },
      "name": "DB - Registrar Reclamo",
      "type": "n8n-nodes-base.mySql",
      "position": [
        2736,
        912
      ],
      "id": "f130058c-5091-4308-8ab6-d482931d2118",
      "typeVersion": 2.5
    },
    {
      "parameters": {
        "functionCode": "const prev = $('Switch Intent').first().json;\nconst ticketId = `REC-${Date.now()}`;\nreturn [{ ...prev, contexto_db: `Reclamo registrado con ID interno: ${ticketId}. El equipo de soporte revisará el caso.`, ticket_id: ticketId, rama: 'RECLAMO' }];"
      },
      "name": "Preparar Contexto Reclamo",
      "type": "n8n-nodes-base.function",
      "position": [
        2992,
        944
      ],
      "id": "60b04b95-ba6f-4d3a-87ea-ab16b1cd524b",
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "const prev = $('Switch Intent').first().json;\nreturn [{ ...prev, contexto_db: 'Consulta general sin datos de DB. Responde amablemente y ofrece ayuda adicional o redirige a contacto humano si es necesario.', rama: 'GENERAL' }];"
      },
      "name": "Preparar Contexto General",
      "type": "n8n-nodes-base.function",
      "position": [
        2848,
        1088
      ],
      "id": "cdac29bc-14a4-48c0-960b-198702c2414d",
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "passThrough"
      },
      "name": "Merge C (FAQ+Pedido)",
      "type": "n8n-nodes-base.merge",
      "position": [
        3200,
        704
      ],
      "id": "7ee6f383-4621-4979-92f6-c538eefdfa29",
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "mode": "passThrough"
      },
      "name": "Merge D (Reclamo+General)",
      "type": "n8n-nodes-base.merge",
      "position": [
        3216,
        1056
      ],
      "id": "6f80d2d7-1e10-434d-9ce3-a26605eeea35",
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "mode": "passThrough"
      },
      "name": "Merge E (todas ramas)",
      "type": "n8n-nodes-base.merge",
      "position": [
        3408,
        896
      ],
      "id": "d3949bc8-5c63-40ce-8f9b-6761f6f46998",
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.urgente }}",
              "operation": "isTrue"
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "name": "IF Urgente",
      "type": "n8n-nodes-base.if",
      "position": [
        3616,
        880
      ],
      "id": "45595cb1-9dfb-4707-8e73-4116dc5b1670",
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "chatId": "TU_CHAT_ID_ADMIN",
        "text": "=⚠️ *CASO URGENTE*\n\n📌 Rama: {{$json.rama}}\n👤 Usuario: {{$json.user}} ({{$json.nombre}})\n📱 Canal: {{$json.canal}}\n💬 Mensaje: {{$json.message}}\n🎫 Ticket: {{$json.ticket_id || 'N/A'}}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Notificar Admin",
      "type": "n8n-nodes-base.telegram",
      "position": [
        3792,
        752
      ],
      "id": "5b34f688-f55d-4a78-bb30-f82636167c69",
      "typeVersion": 1.2,
      "webhookId": "907268ed-9931-408e-85a9-41a50bc275bf"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un agente de atención al cliente profesional, empático y claro. Tu trabajo es redactar la respuesta final que se enviará al cliente.\\n\\nReglas:\\n- Tono cálido, profesional y humano. Nunca suenes a bot.\\n- Adaptá el estilo al canal:\\n  * whatsapp y telegram: informal pero respetuoso, frases cortas, máximo 3 párrafos, podés usar algún emoji ocasional.\\n  * email: más formal, con saludo inicial (Estimado/a [nombre]) y despedida profesional.\\n- Usá la información del Contexto de base de datos para dar una respuesta concreta y útil.\\n- Si la rama es RECLAMO: primero validá la molestia del cliente con empatía, luego ofrecé la solución.\\n- Si la rama es ESTADO_PEDIDO: dá la información del pedido de forma clara y directa.\\n- Si la rama es FAQ: respondé la pregunta de forma completa y sin rodeos.\\n- Si la rama es GENERAL: sé amable, ofrecé alternativas o redirigí a un humano si es necesario.\\n- Nunca menciones IDs internos, queries, ni detalles técnicos del sistema.\\n- Firmá siempre como El equipo de soporte.\\n\\nDatos disponibles:\\n- Canal: {{ $json.canal }}\\n- Nombre del cliente: {{ $json.nombre }}\\n- Rama clasificada: {{ $json.rama }}\\n- Contexto de base de datos: {{ $json.contexto_db }}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"={{ $json.message }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "name": "IA - Redactor Respuesta",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4000,
        944
      ],
      "id": "f139a03a-20ab-4147-aee0-d635d70ff74b",
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "functionCode": "const respuesta = $json.choices?.[0]?.message?.content || 'Lo sentimos, no pudimos procesar tu consulta. Por favor intentá de nuevo.';\nconst prev = $('Merge E (todas ramas)').first().json;\nreturn [{\n  canal: prev.canal,\n  user: prev.user,\n  nombre: prev.nombre,\n  rama: prev.rama,\n  urgente: prev.urgente,\n  ticket_id: prev.ticket_id || null,\n  subject: prev.subject || '',\n  threadId: prev.threadId || '',\n  respuesta: respuesta.trim()\n}];"
      },
      "name": "Armar Respuesta Final",
      "type": "n8n-nodes-base.function",
      "position": [
        4192,
        880
      ],
      "id": "f21004ee-57e2-4445-8822-987ae8a15f60",
      "typeVersion": 1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.canal }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "canal-wa"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WhatsApp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.canal }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "canal-tg"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Telegram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.canal }}",
                    "rightValue": "email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "canal-email"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Email"
            }
          ]
        },
        "options": {}
      },
      "name": "Router Canal",
      "type": "n8n-nodes-base.switch",
      "position": [
        4336,
        928
      ],
      "id": "b4c1b5e5-bceb-4326-b88d-92a5191490a7",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/PHONE_ID/messages",
        "authentication": "predefinedCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $json.user }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={ \"body\": \"{{ $json.respuesta }}\" }"
            }
          ]
        },
        "options": {}
      },
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4656,
        816
      ],
      "id": "42b8a80c-7447-44d2-93e1-8705695f2371",
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "chatId": "={{ $json.user }}",
        "text": "={{ $json.respuesta }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Enviar Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        4672,
        1024
      ],
      "id": "21c2bbe8-8092-440b-919a-1ed88ad743cd",
      "typeVersion": 1.2,
      "webhookId": "47972e43-280a-4c69-9724-b62d625d5dc6"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.user }}",
        "subject": "=Re: {{ $json.subject || 'Tu consulta' }}",
        "message": "={{ $json.respuesta }}",
        "options": {}
      },
      "name": "Enviar Gmail",
      "type": "n8n-nodes-base.gmail",
      "position": [
        4672,
        1200
      ],
      "id": "a16196d2-2419-46cb-a5b7-d220f85bbaf6",
      "typeVersion": 2.2,
      "webhookId": "da0bd423-67b8-4831-94fb-8080fd85aedd"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "Normalizar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalizar Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Normalizar Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar WhatsApp": {
      "main": [
        [
          {
            "node": "Merge A (WA+TG)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Telegram": {
      "main": [
        [
          {
            "node": "Merge A (WA+TG)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Normalizar Gmail": {
      "main": [
        [
          {
            "node": "Merge B (+Gmail)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge A (WA+TG)": {
      "main": [
        [
          {
            "node": "Merge B (+Gmail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge B (+Gmail)": {
      "main": [
        [
          {
            "node": "IA - Clasificador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA - Clasificador": {
      "main": [
        [
          {
            "node": "Parse Clasificacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Clasificacion": {
      "main": [
        [
          {
            "node": "Switch Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Intent": {
      "main": [
        [
          {
            "node": "DB - Buscar FAQ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB - Buscar Pedido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB - Registrar Reclamo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Contexto General",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - Buscar FAQ": {
      "main": [
        [
          {
            "node": "Preparar Contexto FAQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contexto FAQ": {
      "main": [
        [
          {
            "node": "Merge C (FAQ+Pedido)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - Buscar Pedido": {
      "main": [
        [
          {
            "node": "Preparar Contexto Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contexto Pedido": {
      "main": [
        [
          {
            "node": "Merge C (FAQ+Pedido)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "DB - Registrar Reclamo": {
      "main": [
        [
          {
            "node": "Preparar Contexto Reclamo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contexto Reclamo": {
      "main": [
        [
          {
            "node": "Merge D (Reclamo+General)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contexto General": {
      "main": [
        [
          {
            "node": "Merge D (Reclamo+General)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge C (FAQ+Pedido)": {
      "main": [
        [
          {
            "node": "Merge E (todas ramas)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge D (Reclamo+General)": {
      "main": [
        [
          {
            "node": "Merge E (todas ramas)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge E (todas ramas)": {
      "main": [
        [
          {
            "node": "IF Urgente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Urgente": {
      "main": [
        [
          {
            "node": "Notificar Admin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IA - Redactor Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Admin": {
      "main": [
        [
          {
            "node": "IA - Redactor Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA - Redactor Respuesta": {
      "main": [
        [
          {
            "node": "Armar Respuesta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar Respuesta Final": {
      "main": [
        [
          {
            "node": "Router Canal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Canal": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0ea3a4a1-f09c-42be-bcbf-596fcb4e011b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4a0fd93b4dbed90447397e1687b694b93411b807ffa91af002a908429ec23a82"
  },
  "id": "2YXUbD5GT4JEeLm8",
  "tags": []
}